.container-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  grid-gap: 2px;
}

.item {
  width: 100%;
}

.item div {
  width: 100%;
}

.item button {
  width: 100%;
}

.inline div,
.inline div svg {
  display: inline !important;
}

.margin-small {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.settings-container {
  position: fixed;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
}